In [ ]:
#Pycaret:
#from pycaret.regression import *

#Pipeline de pycaret:

#1. Setup() : Definir el dataset y parametros
    #exp = setup(data=df, target='precio', session_id=12,normalize=True)
#2. Compare_models(): Compara multiples modelos y los rankea
    #mejor_modelo = compare_models()

#3. Create model() : Crea un modelo especifico
    #lr = create_model('lr') 

#4. Tune_model() :Ajuste automatico de hiperparametros
    #tuned_lr = tune_model(lr)

#5. plot_model(): visualiza (graficamente) el desempeño del modelo
    #plot_model(tuned_lr,plot='residuals')
    #plot_model(tuned_lr,plot='feature')

#6. evaluate_model(): UI de evaluación del modelo
    #evaluate_model(tuned_lr)

#7. predict_model(): Predicciones sobre nuevos datos en el DF
    #predicciones = predict_model(tuned_lr,data=nuevo_df)

#8. save_model()/load_model(): Guardar y cargar modelo.
    #save_model(tunel_lr,'modelo_final')

In [ ]:
#Caso : Predicción de precios de departamentos en Lima:
#Objetivo: Construir un modelo de regresión automatica con pycaret para predecir el precio de departamentos
#en base a sus caracteristicas.

In [2]:
import pandas as pd
from pycaret.regression import *

In [4]:
#1. Cargamos la data:
df = pd.read_csv('precio_departamentos.csv')

In [5]:
df.head()

,area_m2,num_habitaciones,num_banos,distrito,antiguedad_anos,vista_mar,precio
0,139,1,2,San Isidro,7,0,380619.28
1,96,1,1,San Isidro,7,0,221302.53
2,122,4,1,San Isidro,23,0,338702.68
3,128,2,1,Surco,21,1,341815.62
4,132,3,2,Surco,19,0,346460.60

In [6]:
#Inicializar el experimiento
reg  = setup(data=df,target='precio',session_id=123,normalize=True,categorical_features=['distrito'])

In [7]:
#3. Comparar modelos automaticamente:
best_model = compare_models()

In [8]:
lr = create_model('lr')

In [9]:
#5.Ajustar el modelo
tuned_lr = tune_model(lr)

Fitting 10 folds for each of 2 candidates, totalling 20 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [11]:
#6. Evaluar visualmente
evaluate_model(tuned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [12]:
#predicción:
preds= predict_model(tuned_lr)
print(preds.head())

    area_m2  num_habitaciones  num_banos    distrito  antiguedad_anos  \
8        87                 2          2  San Isidro               19
70      100                 4          2  Miraflores                5
82       31                 1          1       Surco               14
28       97                 3          2       Surco               12
63      130                 1          1       Surco                0

    vista_mar         precio  prediction_label
8           0  242334.515625     229980.233894
70          1  300367.437500     323149.386211
82          1  122736.742188      96058.098024
28          1  315150.500000     298969.196595
63          1  364217.593750     361290.005458

In [ ]:
#1. En promedio, el modelo se equivoca en un 5.76% del precio real
#2. El modelo explica el 97.43% de la varianza del precio
#3. Error logaritmico (0.0807) es bajo; buen performance en escalas grandes.

#Conclusión: El modelo tiene muy buen ajuste global. Es explicativo (R2 alto) y preciso (MAPE pequeño)

In [13]:
#8. Guardar el modelo 
save_model(tuned_lr,'modelo_precio_final')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['area_m2', 'num_habitaciones',
                                              'num_banos', 'antiguedad_anos',
                                              'vista_mar'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['distrito'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['distrito'],
                                     transformer=OneHotEncoder(cols=['distrito'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('trained_model', LinearRegression(n_jobs=-1))]),
 'modelo_precio_final.pkl')