In [ ]:
!pip install pycaret

In [ ]:
#Pycaret:
#from pycaret.regression import *

#Pipeline de pycaret:

#1. Setup() : Definir el dataset y parametros
    #exp = setup(data=df, target='precio', session_id=12,normalize=True)
#2. Compare_models(): Compara multiples modelos y los rankea
    #mejor_modelo = compare_models()

#3. Create model() : Crea un modelo especifico
    #lr = create_model('lr') 

#4. Tune_model() :Ajuste automatico de hiperparametros
    #tuned_lr = tune_model(lr)

#5. plot_model(): visualiza (graficamente) el desempe침o del modelo
    #plot_model(tuned_lr,plot='residuals')
    #plot_model(tuned_lr,plot='feature')

#6. evaluate_model(): UI de evaluaci칩n del modelo
    #evaluate_model(tuned_lr)

#7. predict_model(): Predicciones sobre nuevos datos en el DF
    #predicciones = predict_model(tuned_lr,data=nuevo_df)

#8. save_model()/load_model(): Guardar y cargar modelo.
    #save_model(tunel_lr,'modelo_final')

In [ ]:
#Caso : Predicci칩n de precios de departamentos en Lima:
#Objetivo: Construir un modelo de regresi칩n automatica con pycaret para predecir el precio de departamentos
#en base a sus caracteristicas.

In [2]:
import pandas as pd
from pycaret.regression import *

In [3]:
#1. Cargamos la data:
df = pd.read_csv('ds_credito_vehicular.csv')

In [4]:
df.head()

,edad,ingresos_mensuales,estado_civil,historia_credito,nro_creditos_previos,cuota_vs_ingreso,vehiculo_propio,default
0,59,7668,Divorciado,Buena,2,0.64,0,1
1,49,6279,Casado,Buena,2,0.31,1,1
2,35,2722,Soltero,Mala,4,0.41,1,0
3,63,4314,Divorciado,Regular,4,0.57,0,0
4,28,4157,Soltero,Buena,1,0.34,0,0

In [5]:
#Inicializar el experimiento
reg  = setup(data=df,target='default',session_id=123,normalize=True,categorical_features=['estado_civil','historia_credito'])

In [6]:
#3. Comparar modelos automaticamente:
best_model = compare_models()

In [7]:
lr = create_model('lasso')

In [8]:
#5.Ajustar el modelo
tuned_lr = tune_model(lr)

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [9]:
#6. Evaluar visualmente
evaluate_model(tuned_lr)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin

In [10]:
#predicci칩n:
preds= predict_model(tuned_lr)
print(preds.head())

     edad  ingresos_mensuales estado_civil historia_credito  \
72     35                6757      Soltero            Buena
112    43                3911      Soltero            Buena
132    29                6883       Casado            Buena
88     27                5389       Casado            Buena
37     27                5744       Casado          Regular

     nro_creditos_previos  cuota_vs_ingreso  vehiculo_propio  default  \
72                      4              0.11                0        0
112                     2              0.59                0        0
132                     0              0.42                0        0
88                      4              0.27                1        0
37                      0              0.38                1        1

     prediction_label
72           0.161905
112          0.161905
132          0.161905
88           0.161905
37           0.161905

In [ ]:
#1. En promedio, el modelo se equivoca en un 5.76% del precio real
#2. El modelo explica el 97.43% de la varianza del precio
#3. Error logaritmico (0.0807) es bajo; buen performance en escalas grandes.

#Conclusi칩n: El modelo tiene muy buen ajuste global. Es explicativo (R2 alto) y preciso (MAPE peque침o)

In [11]:
#8. Guardar el modelo 
save_model(tuned_lr,'modelo_scoring_final')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['edad', 'ingresos_mensuales',
                                              'nro_creditos_previos',
                                              'cuota_vs_ingreso',
                                              'vehiculo_propio'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['estado_civil',
                                              'historia_credito'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  TransformerWrapper(include=['estado_civil',
                                              'historia_credito'],
                                     transformer=OneHotEncoder(cols=['estado_civil',
                                                                     'historia_credito'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('normalize', TransformerWrapper(transformer=StandardScaler())),
                 ('trained_model', Lasso(random_state=123))]),
 'modelo_scoring_final.pkl')